.obtainCards{
    background-color: rgb(4, 3, 44);
    margin: 0px auto;
    color: white;
    padding: 0px auto;
    text-align: center;
    overflow-y: hidden;
}

.obtainCards-container{
    width: 500px;
    text-align: center;
    margin: 0px auto;
    display: block;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.obtainCards-container img{
    width: 350px;
    height: 450px;
}

.obtainCards-container button{
    background-color: rgb(89, 97, 202);
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 17px;
}

.obtainCards-container button:hover{
    background-color: rgb(192, 56, 6);
    cursor: pointer;
    transition: all 0.5s;
}

.obtainCards-container-out{
    height: 84.4vh;
}